.git
doc
document

data
.env

frontend/node_modules
frontend/dist

backend/.venv
backend/.localdata
backend/__pycache__
backend/.pytest_cache
backend/.ruff_cache
backend/tests
**/__pycache__
**/*.pyc
